<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="{{ url_for('static', filename='styles.css') }}" rel="stylesheet">
    <title>Personal Finance Tracker</title>
</head>
<body>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
        <a class="navbar-brand" href="#">Finance Tracker</a>
    </nav>
    <div class="container">
        <h1 class="mt-5">Welcome to Personal Finance Tracker</h1>
        <div class="list-group mt-4">
            <a href="{{ url_for('add_user_route') }}" class="list-group-item list-group-item-action">Add User</a>
            <a href="{{ url_for('add_transaction_route') }}" class="list-group-item list-group-item-action">Add Transaction</a>
        </div>
    </div>
</body>
</html>